
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.43),rgb(0, 0, 0)), url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

h1{
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 2rem;
}

h2{
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-top: .5rem;
    font-size: 15px;
}

h3{
    font-weight: 200;
    margin-top: 2rem;
    font-size: 15px;
   
}

@media (min-width: 1200px) {
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 2rem;
        margin-top: .1rem;
    }
    h3{
        font-size: 1rem;
    }
  }